body {
  background-color: #121212;
  color: #fff;
}
.crypto-search {
  margin: auto;
  text-align: center;
}
.crypto-search h1 {
  font-size: 36px;
}
.crypto-input {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  font-size: 18px;
  border: none;
  outline: none;
  box-shadow: none;
}
.crypto-input:focus,
.crypto-input:active {
  border: none;
  outline: none;
  box-shadow: none;
}
.red {
  color: red;
}
.green {
  color: green;
}
.table-container {
  overflow-x: auto;
  vertical-align: top;
}
table {
  width: 100%;
  overflow-x: scroll;
  margin: auto;
  margin-top: 5rem;
  text-align: left;
}
table tr {
  margin: 5rem 0rem 5rem 0rem;
  border-bottom: 1px solid #fff;
}
tr th {
  padding-left: 2rem;
  padding-right: 2rem;
}

table tbody {
  color: #fff9;
}
